

body {
    display: flex; 
    flex-direction: row; 
    font: 14px "Segoe UI"; 
}

#p1, #p2, #p3 {
    width: 500px; 
    padding: 20px; 
}

h1 {
    font-size: 20px; 
}

#bottomText {
    width: 450px; 
}

#bottomText2 {
    width: 450px; 
}

#sampleText1, #sampleText3 {
    width: 400px; 
    border: 1px solid black; 
    padding: 20px; 
    margin: 20px; 
}

#sampleText2 {
    width: 500px; 
    height: 300px; 
    border: 1px solid black; 
    padding: 20px; 
    overflow-y: scroll; 

}

p {
    font-size: 14px; 
}

#description {
    padding-bottom: 30px; 
}


/* button styling */

button {
    padding: 15px; 
    font-size: 18px; 
    margin-top: 30px; 
    margin-right: 20px; 
    color: white; 
    background-color: #0078D4; 
    border-radius: 4px; 
    border-style: none; 
    width: 175px; 
}

button:disabled,
button[disabled]{
  /* border: 1px solid #999999; */
  background-color: #cccccc;
  color: #666666;
}


/* input styling  */

#bigA {
    font-size: 40px; 
}

#littleA {
    font-size: 16.2px; 
}

input {
    width: 400px; 
    margin-top: 20px; 
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 99px;
    background: #0078D4;
    margin-top: -10px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

/*  nav styling  */

#nav {
    background-color: #EEEEEF; 
    width: 400px; 
    padding: 20px; 
    font-size: 18px; 
}

.navSection {
    display: flex; 
    flex-direction: column;
    font-style: normal; 
    font-weight: normal; 
    line-height: 24px; 
    padding-bottom: 30px; 
}

.header {
    opacity: 40%; 
    font-weight: 200; 
}

.navSection span {
    opacity: 100%; 
    padding-bottom: 20px; 
}

#navHeader input {
    padding: 15px;  
    border-radius: 2px;
    border-style: none;
    font-size: 18px; 
    border: 1px solid #c2c2c2;  
    margin-bottom: 30px; 
}